<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="generator" content="11ty">
    <meta name="author" content="{{site.author}}">
    <meta name="description" content="{{site.title}}">
    <link rel="alternate" hreflang="en-us" href="{{site.baseURL}}">
    <meta name="theme-color" content="hsl(339, 90%, 68%)">
    <link rel="alternate" href="/index.xml" type="application/rss+xml" title="{{site.title}}">
    <link rel="icon" type="image/png" href="/assets/img/icon-32.png">
    <link rel="apple-touch-icon" type="image/png" href="/assets/img/apple-touch-icon.png">
    <link rel="canonical" href="{{site.baseURL}}">
    <!--<link rel="manifest" href="/index.webmanifest">-->

 {%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{site.twitter}}">
    <meta name="twitter:creator" content="@{{site.twitter}}">
    <meta name="twitter:url" content="{{site.baseURL}}{{page.url}}">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{ site.description }}">
    
    <!--Schema-->
    <link rel="author" href="{{site.baseURL}}">
    <link rel="publisher" href="{{site.baseURL}}">
    <meta itemprop="name" content="{{title}}">
    <meta itemprop="description" content="{{ site.description }}">
    
    <!-- Facebook OpenGraph -->
    <meta property="fb:app_id" content="{{site.FB_APP_ID}}">
    <meta property="og:url" content="{{site.baseURL}}{{page.url}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:locale" content="en_GB">
    <meta property="article:author" content="{{site.baseURL}}">
    {%- endblock -%}
    

    <title>{{ title }}</title>

        <!-- Required CSS files -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" lazyload>
    <link rel="stylesheet" href="/assets/css/main.css" lazyload>
    <link rel="stylesheet" href="/assets/css/prism-a11y-dark.css" lazyload>
</head>




<body>
    <div class="site d-flex flex-column">
        
{% include "header.njk" %}
        <main class="flex-fill">
{% block content %}
  {{ content | safe  }}
{% endblock content %}
{% block postContent %}{% endblock postContent %}
</main>

{% include "footer.njk" %}

       
       
        
    </div>

    <!--Required JS files-->
    <!-- enables search -->
    <script src="/postsJS.js"></script>
    <script src="/assets/js/search.js"></script>

<script
			  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
			  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

</body>

</html>