<footer>
    <nav>
    <ul>
        <li><span>{{site.author}} © {{site.lastBuildYear}}</span></li>
        <li><a href="/index.xml">RSS</a></li>
        <li><a href="https://twitter.com/{{site.twitter}}">Twitter</a></li>
        <li><a href="{{site.github}}">GitHub</a></li>
        <li><a href="{{site.linkedin}}">LinkedIn</a></li>
    </ul>
    </nav>
</footer>