 <header>
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-3 logo-column">
                        <a href="/index.html" class="logo">
                            <img src="/assets/img/logo.jpg" alt="logo">
                        </a>
                    </div>
                    <div class="col-6 col-sm-9 nav-column clearfix">
                        <div class="right-nav">
                            <!--<span class="search-icon fa fa-search"></span>
                            <form action="#" class="search-form">
                                <input type="search" placeholder="search now">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>-->
                            <div class="header-social">
                                <ul>
                                <!--<a href="#" class="fa fa-facebook"></a>-->
                                </ul>
                            </div>
                        </div>
                        <nav id="menu" class="d-none d-lg-block">
                            <ul>
                                <li class="current-menu-item">
                                    <a href="/">Home</a>
                                </li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/post">Posts</a></li>
                                <li><a href="/talk">Talks</a></li>
                                <li><a href="/resources">Resources</a></li>
                                <li><a href="/news">News</a></li>
                                <li><a class="nav-link" href="https://www.patreon.com/bePatron?u=23597006"><img src="/assets/img/patron.png" alt="Become a Patron!" style="height:50px"></a></li>
                                <li><div><a data-toggle="modal" href="#searchModal">🔎</a></div></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Modal -->
             <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">Search my posts
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                  </div>
                  <div class="modal-body">

                    <form class="navbar-form " role="search">
                      

                      <div class="input-group">
                        <input id="searchText" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="search" />
                            <div class="input-group-append">
                                <button class="btn btn-success" type="button" onclick="searchPosts()">Search</button>
                            </div>
                        </div>
                    </form>
                    <div id="searchResults"></div>

                  </div>


                </div>
              </div>
            </div>
        </header>