<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script
			  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
			  crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script>
    Array.prototype.sortOn = function(key){
    this.sort(function(a, b){
        if(a[key] < b[key]){
            return -1;
        }else if(a[key] > b[key]){
            return 1;
        }
        return 0;
    });
}
</script>
<body id="myApp" ng-app="myApp" ng-controller="myCtrl">
    <script src="https://unpkg.com/rss-parser@3.7.3/dist/rss-parser.min.js"></script>
    <!--<h1 ng-repeat="x in records">{{x}}</h1>-->
    <div class="container">
        <div class="row" ng-repeat="feed in records | orderBy: '-time'">
            <div class="col-3">{{feed.pubDate}}</div>
            <div class="col-3">{{feed.feedName}}</div>
            <div class="col-6">
                <a href="{{feed.link}}">{{feed.title}}</a>
            </div>
        </div>
    </div>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope, $q) {
            $scope.records = [];

            //const CORS_PROXY = 'https://cors-anywhere.herokuapp.com/'
            const CORS_PROXY = 'https://cors-anywhere-jace.herokuapp.com/'
            const parser = new RSSParser;
            var feeds = [
                ["An Errant Programmer", "http://anerrantprogrammer.com/?feed=rss2"],
                ["An Errant Programmer", "https://www.youtube.com/feeds/videos.xml?channel_id=UC2ey_HG743-CrxOTPU_ft7g"],
                ["Andrew Albury-Dor", "https://www.youtube.com/feeds/videos.xml?channel_id=UCH1byb2cbzlFrYndyKic_Lg"],
                ["Ben Hollifield", "https://www.youtube.com/feeds/videos.xml?channel_id=UCpXBKCVchJqXo08OyD0i2eQ"],
                ["ServiceNow Elite", "http://www.servicenowelite.com/blog?format=rss"],
                ["CloudMinus89", "http://www.cloudminus89.com/feeds/posts/default?alt=rss"],
                ["CodeCreative", "https://www.youtube.com/feeds/videos.xml?channel_id=UCmwKZdMYyUD4AWnAIrx5JVw"],
                ["CodeCreative", "https://codecreative.io/index.xml"],
                ["John James Andersen", "http://john-james-andersen.com/feed"],
                ["Mark Scott", "https://www.youtube.com/feeds/videos.xml?channel_id=UCysyuAe0q31GOOedkJja67Q"],
                ["Mav", "https://mavembry.info/index.xml"],
                ["Robert, The Duke, Fedoruk", "https://www.youtube.com/feeds/videos.xml?channel_id=UCfhKNeCYiaJQaaKuACKt0Sg"],
                ["Jace Benson", "https://jace.pro/index.xml"],
                ["ServiceNow Dev Program", "https://www.youtube.com/feeds/videos.xml?channel_id=UCdXorgCT87YlFRN9n8oJ7_A"],
                ["ServiceNow Gems", "http://servicenowgems.com/feed"],
                ["ServiceNow Community", "https://www.youtube.com/feeds/videos.xml?channel_id=UCCBQU8mlFrElxQNR2mo-gLg"],
                ["ServiceNow Support", "https://www.youtube.com/feeds/videos.xml?channel_id=UCQjE37R-Y4DTq7kUWPO83Wg"],
                ["ServiceNow Think", "https://servicenowthink.wordpress.com/feed"],
                ["Workflow", "https://workflow.servicenow.com/feed/"],
                ["SNProtips", "https://snprotips.com/?format=rss"],
                ["SNC-Blog", "http://www.snc-blog.com/feed"],
                ["SNDevelopment", "https://sncdevelopment.com/feed"],
                ["WomenNow", "https://womennow.dev/?feed=rss2"],
                ["Pathway", "https://pathwayscg.com/feed/"],
                ["Reddit", "http://reddit.com/r/servicenow/.rss"],
                ["StackOverflow", "https://stackoverflow.com/feeds/tag?tagnames=servicenow&amp;sort=newest"],
                //["#ServiceNow", "https://twitter.com/hashtag/ServiceNow?src=hash&amp;f=live"],
                //["#ServiceNowDev", "https://twitter.com/search?q=%23ServiceNowDev&amp;src=typed_query&amp;f=live"],
                //['COvid', "https://twitter.com/search?q=COVID&src=typed_query&amp;f=live"]
            ];
            var promises = [];
            feeds.map(function parseFeeds([feedName, url], idx) {
                var fullURL = CORS_PROXY + url;
                if(url.indexOf('jace.pro')>=0){
                    fullUrl = url;
                }
                var promise = parser.parseURL(CORS_PROXY + url, (error, feed) => {
                    //console.log('feed', feed);
                    if (error) {
                        console.log("error", url, error);
                    } else if (feed) {
                        feed.items.map(({ link, title, pubDate }) => {
                            const d = new Date(pubDate)
                            const dStr = d.toLocaleDateString() + ' ' + d.toLocaleTimeString()
                            if(title.length>70){
                                title = title.substring(0,60);
                                title+=" ...";
                            }
                            $scope.records.push({
                                feedName: feedName,
                                time: d.getTime(),
                                pubDate: dStr,
                                title: title,
                                link: link
                            });
                        });
                    } else {
                        console.log(url, "has issue with feed", feed);
                    }

                });
                promises.push(promise);
            })
            $q.all(promises).then(function(){
                $scope.records = $scope.records.reverse();
                console.log('done', $scope.records);
            })
            /*[
              "Alfreds Futterkiste",
              "Berglunds snabbköp",
              "Centro comercial Moctezuma",
              "Ernst Handel",
            ]*/
        });
    </script>

</body>

</html>