---
date: '2016-01-01'
layout: page
title: glide.discovery.enable_mac_address_verification
description: Enables MAC address verification to determine if a device has changed its IP address during a discovery. If this property is set to true, Discovery passes the MAC address of a device being discovered to the MID Server so that probes can determine if the IP address has changed while Discovery is running. If the device has changed IP addresses, then Discovery stops processing that IP address and updates the Discovery log with a warning message. Discovery does not stop processing other IP addresses. 
value:  
---
