---
layout: page
title: glide.discovery.enable_mac_address_verification
description: "MAC address verification should be enabled if IP addresses of discovered CI's change frequently.  This provides an additional verification step on the MID server to check that MAC address does not change for an IP address between Identification and Exploration phase of Discovery."
---
false