{% extends "base.njk" %}
{% block content %}
{% if backgroundImage !="" %}
<div class="page-title sp" style="background-image: url({{ backgroundImage }})">
    <div class="container text-center">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
    </div>
</div>
{% endif %}
{% if content !="" %}
<div class="container sp">
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            {{ content | safe }}
        </div>
        <div class="container">
    <section id="news" class="home-section wg-pages">
      <script src="/assets/js/news.js"></script>
        
      <form class="form-inline">
        <label class="sr-only" for="date">Year</label>
        <input type="text" class="form-control mb-2 mr-sm-2 col-md-4" id="date" placeholder="2020 or 2019-2020">

        <label class="sr-only" for="searchtext">Search</label>
        <div class="input-group mb-2 mr-sm-2 col-md-6">
          <input type="text" class="form-control" id="searchtext" placeholder="Search (looks for title or site containing this)">
        </div>

        <button type="button" id="submitquery" class="btn btn-primary mb-2">Submit</button>
      </form>

      <table id="newsTable">
        <thead>
          <td>Date</td>
          <td>Type</td>
          <td>Site</td>
          <td>Author</td>
          <td>Link</td>
        </thead>
        <!--<tr>
          <td><input class="form-control input-md" type="text"></input></td>
          <td>
            <select class="form-control" id="types">
              <option value=""></option>
              <option value="post">Post</option>
              <option value="audio">Audio</option>
              <option value="audio">Video</option>
              <option value="audio">Lab</option>
            </select>
          </td>
          <td><input class="form-control input-md" type="text"></input></td>
          <td><input class="form-control input-md" type="text"></input></td>
          <td><input class="form-control input-md" type="text"></input></td>
        </tr>-->
        <tr id="startRow">
          <td colspan="5">
          Is your content missing here? Open a
          <a target="_blank" href="https://github.com/jacebenson/news-api/issues/new?template=add_news.md">issue</a>.
        </td>
        </tr>
      </table>

    </section>

  </div>
    </div>
</div> 
<!-- Add the stylesheet to the head -->
<link rel="stylesheet" type="text/css" href="/assets/css/clippy.css" media="all">

...

<!-- Add these scripts to  the bottom of the page -->
<!-- jQuery 1.7+ -->


{% endif %}
{% endblock content %}