<script>
    var currentOrigin = (location.origin + '/').toString();
    var baseURL = (new URL("{{ .Site.BaseURL }}")).toString();
    console.log(currentOrigin + ' ? ' + baseURL);
    if(currentOrigin !== baseURL){// && location.origin !== "http://127.0.0.1" && location.origin !== "http://localhost"){
        console.log('want to go here....' + baseURL + location.pathname);
        if(location.pathname != '/'){
            location.replace(baseURL);
        } else {
            location.replace(baseURL + location.pathname);
        }
    } else {
        console.log("Already on correct domain: " + baseURL);
    }
</script>
<link href="{{"mermaid/mermaid.css" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}" type="text/css" rel="stylesheet" />
<script src="{{"mermaid/mermaid.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
<script>
    mermaid.initialize({ startOnLoad: true });
</script>