<div id="modalSearch" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!--<h4 class="modal-title">Search</h4>-->
          <h4>
            <a href="https://www.algolia.com/docsearch">
              <img src="/img/search-by-algolia-light-background.png"/>
            </a>
          </h4>
        </div>
        <div class="modal-body">
            <!-- HTML Markup -->
<div class="aa-input-container" id="aa-input-container">
        <input style="width:100%" type="search" class="form-control" placeholder="Search" id="aa-search-input" name="search"
            autocomplete="off" autofocus="autofocus" />
    </div>
    <!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
    <!-- Initialize autocomplete menu -->
    <script>
    var client = algoliasearch("Q6ACD3L390", "{{ .Site.Params.algolia }}");
    var index = client.initIndex('blog.jacebenson.com');//index name
    //initialize autocomplete on search input (ID selector must match)
    autocomplete('#aa-search-input',
    { hint: true }, {
        source: autocomplete.sources.hits(index, { hitsPerPage: 20 }),
        //value to be displayed in input control after user's suggestion selection
        displayKey: 'name',
        //hash of templates used when rendering dataset
        templates: {
            //'suggestion' templating function used to render a single suggestion
            suggestion: function (suggestion) {
                console.log(suggestion);
                // return '<span>' + '<a href="' + suggestion.url+ '">' +
                // suggestion._highlightResult.title.value + '</a>' + '</span>';
                var html = '' +
                    '<div class="container">' +
                    //'<hgroup class="mb20">' +
                    //'</hgroup>' + 
                    '<section class="col-xs-12 col-sm-6 col-md-12">' +
                    '<article class="search-result row">' +
                    '<div class="col-xs-8 excerpet">' +
                    '<h6><a href="' + suggestion.url + '" title="">' + suggestion.title + '</a></h6>' +
                    //'<h6>' + suggestion.summary.replace(/<\/?[^>]+(>|$)/g, "").substring(0, 100) + '...</h6>' +
                    '</div>' +
                    //'<span>'+(suggestion.tags||'')+'</span>'+
                    //<span class="badge badge-secondary">New</span>
    
                    //'</div>'+
    
                    '<span class="clearfix borda"></span>' +
                    '</article>' +
                    '</section>' +
                    '</div>'
                return html;
            }
        }
    });
    </script>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
