{{ define "header" }}
  <header class="header-section ">
    <div class="intro-header no-img">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
              <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ end }}
{{ define "main" }}
  <div class="container-fluid" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
        <div class="posts-list">
          <table>
            <tr>
              <td>Property</td>
              <td>Description</td>
              <td>Value</td>
            </tr>
          {{ range .Pages -}}
          <tr>
              <td>
                <a href="{{ .Permalink }}" class="post-read-more">
                  <code>{{ .Title }}</code>
                </a>
              </td>
              {{if gt (len (string .Params.Description | plainify )) 10}} 
              <td>{{ substr (.Params.Description | plainify) 0 10 }}...</td>
              {{ end }}
              {{if le (len (string .Params.Description | plainify )) 10}} 
              <td>{{.Params.Description | plainify }}</td>
              {{ end }}
              {{if gt (len (string .Content | plainify )) 10}} 
              <td>{{ substr .Content 0 10 | plainify }} ...</td>
              {{ end }}
              {{if le (len (string .Content | plainify )) 10 }} 
              <td>{{.Content | plainify}}</td>
              {{ end }}
          </tr>
          {{ end }}
          
      </table>
        </div>
      </div>
    </div>
  </div>
{{ end }}

