{{ define "main" }}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <a href="https://github.com/jacebenson/blog/edit/master/content/{{ .File.Path }}"><i class="fa fa-pencil"></i> &nbsp;Improve this page</a>
      <article role="main" class="blog-post">
        <p>Description: {{ .Params.Description | safeHTML}}</p>
        <p>Default Value: {{ .Params.Value }}</p>

        {{ .Content }}

      </article>
      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
        {{ if .Site.DisqusShortname }}
          <div class="disqus-comments col-lg-12">
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</div>
{{ end }}
