.post article h1 {
  font-size: var(--size-step-6);
}

.post article h2 {
  font-size: var(--size-step-3);
}

.post article h3 {
  font-size: var(--size-step-2);
}

/* make featured image alwyays 16/9 */
.post h1 + :is(picture, figure) img {
  max-inline-size: var(--max-img-width, 100%);
  block-size: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.post date {
  font-size: var(--size-step-1);
  color: var(--color-text-light);
}

.post .credit {
  font-size: var(--size-step-min-1);
  color: var(--color-text-accent);
  background-color: var(--color-bg);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--border-radius-medium);
  transform: translateY(-4ch) translateX(-0.5ch);
  max-inline-size: fit-content;
}

.post .meta {
  font-size: var(--size-step-min-1);
}

.post article h1{font-size:var(--size-step-6)}.post article h2{font-size:var(--size-step-3)}.post article h3{font-size:var(--size-step-2)}.post h1+:is(picture,figure) img{aspect-ratio:16/9;block-size:auto;max-inline-size:var(--max-img-width,100%);-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center}.post date{color:var(--color-text-light);font-size:var(--size-step-1)}.post .credit{background-color:var(--color-bg);border-radius:var(--border-radius-medium);color:var(--color-text-accent);max-inline-size:-moz-fit-content;max-inline-size:fit-content;padding:var(--space-xs) var(--space-s);transform:translateY(-4ch) translateX(-.5ch)}.post .credit,.post .meta{font-size:var(--size-step-min-1)}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}