---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
{% for page in collections.all %}
  {% if page.url and page.data.redirectFrom %}
{{ page.data.redirectFrom }}  {{ page.url }} 301
  {% endif %}
{% endfor %}