<!-- Utterances Comments Component -->
<section class="comments-section mt-8 pt-8 border-t border-gray-200">
  <h3 class="font-bold text-2xl {{settings.BlackColorText}} mb-4">Comments</h3>
  
  <script 
    src="https://utteranc.es/client.js"
    repo="jacebenson/jace.pro"
    issue-term="pathname"
    theme="github-light"
    crossorigin="anonymous"
    async>
  </script>
  
  <noscript>
    <p class="text-gray-500 italic">
      Comments are powered by <a href="https://utteranc.es/" class="text-blue-600 underline">Utterances</a>. 
      Please enable JavaScript to view and post comments.
    </p>
  </noscript>
</section>